@import "../../../../../../scss/extend";

.header {
  &_search {
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    padding-left: 2 * $space;
  }

  &_add {
    @extend %flex-center;

    width: $heightHeader;
    flex-direction: column;
  }
}
