<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
</head>
<body>
<div id="nav">
    <a href="./index.hbs">Главная</a>
    <a href="./active.hbs">Диалог</a>
    <a href="./login.hbs">Авторизация</a>
    <a href="./registration.hbs">Регистрация</a>
    <a href="./profile.hbs">Профиль</a>
    <a href="./reset-password.hbs">Смена пароля</a>
</div>
    <div id="root"></div>
    {{#if script}}<script type="module" src="{{script}}"></script>{{/if}}
</body>
</html>
