@import '../../../../scss/extend';

.app-bar {
  background-color: $colorGray;
  height: $heightHeader;
  width: 100%;
  display: flex;

  &_left {
    @extend %flex-center;
    height: $heightHeader;
    width: $widthAside;
    background-color: $colorGray100;
  }

  &_center {
    @extend %flex-center;
    flex-grow: 1;
  }

  &_right {
    @extend %flex-center;
    padding-right: 4 * $space;
  }
}
