@import "../../../../scss/variables";

.dialog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 1px;
  background-color: rgba(225,225,225,0.1);

  &-wrap{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 1px;
  }
  &-date {
    text-align: center;
    padding: 2 * $space 0 $space;

    &_wrap {
      background-color: $colorSecondary200;
      padding: 0.5 * $space $space;
      border-radius: 2 * $space;
      color: $fontColorSecondary;
    }
  }

  &-btn{
    padding-bottom: 2 * $space;
    text-align: center;
  }
}
