@import '../../scss/variables';

.input-form {
  position: relative;
  width: 100%;
  margin-bottom: 2 * $space;

  &_label {
    color: $fontColorSecondary;
    padding-left: 0.5 * $heightElement;

    & ~ input {
      margin-top: 0.5 * $space;
    }
  }

  &__required {
    position: relative;

    &:after {
      content: '*';
      position: absolute;
      color: $colorDanger;
      top: $space;
      right: 0;
    }
  }
}
