---
title: Список чатов
styles: ../css/pages/active-chat.scss
user:
    src: ../static/images/avatar.jpg
    name: Andrey
chats:
    -
        title: my chat
        avatar: ../static/images/avatar.jpg
        unread_count: 15
        last_message:
            time: '14:30'
            content: this is message content
        active: true
mainEmpty: false
inputMessage:
    id: message
    type: text
    name: message
    placeholder: Сообщение...
---

{{#extend "chat"}}
    {{#content "appbarCenter"}}
        <div class="app-bar_user app-bar_user__no-grow">
            {{> avatar user}}
            <span class="app-bar_user-name">{{user.name}}</span>
        </div>
    {{/content}}

    {{#content "appbarRight"}}
        <div class="button-icon-wrap">
            {{> buttonIcon icon='../static/icons/dots.svg'}}
        </div>
    {{/content}}

    {{#content "main"}}
        <div class="message-feed">

        </div>
        <form class="send-block">
            {{> buttonIcon icon='../static/icons/attach.svg' className='button-icon__secondary'}}
            {{> input inputMessage className='send-block_message'}}
            {{> buttonIcon icon='../static/icons/send.svg' className='button-icon__primary'}}
        </form>
    {{/content}}
{{/extend}}
