---
title: Список чатов
styles: ../css/pages/chat.scss
user:
    src: ../static/images/avatar.jpg
    name: Andrey
chats:
    -
        title: my chat
        avatar: ../static/images/avatar.jpg
        unread_count: 15
        last_message:
            time: '14:30'
            content: this is message content
        active: false
mainEmpty: true
---

{{#extend "chat"}}
    {{#content "main"}}
        <p>Выберите чат чтобы отправить сообщение</p>
    {{/content}}
{{/extend}}
