---
title: Смена пароля
styles: ../css/pages/profile.scss
card:
    title: Смена пароля
fields:
    -
        id: oldPassword
        label: Текущий пароль
        type: password
        name: oldPassword
    -
        id: newPassword
        label: Новый пароль
        type: password
        name: newPassword
    -
        id: newPassword2
        label: Повторите новый пароль
        type: password
        name: newPassword2
submit:
    href: ./index.hbs
    text: Применить
---

{{#extend "html" styles='../css/pages/profile.scss'}}
    {{#content "body"}}
        <main>
            {{#extend "card" card}}
                {{#content "cardBody"}}
                    <form>
                        {{#each fields}}
                            {{> inputGroup this}}
                        {{/each}}

                        <div class="form_submit">
                            {{> buttonLink submit}}
                        </div>
                        <div class="form_action">
                            {{> link href='./profile.hbs' text="Отменить"}}
                        </div>
                    </form>
                {{/content}}
            {{/extend}}
        </main>
    {{/content}}
{{/extend}}
