@import "../../../../../../scss/extend";

.chat-users_item{
  display: flex;
  @extend %secondary-action;
  background-color: transparent;
  padding: $space;

  &__point {
    cursor: pointer;
  }
  &_name{
    display: flex;
    align-items: center;
    padding-left: $space;
    flex-grow: 1;
  }
}