<div class="app-bar">
    <div class="app-bar_left">
        {{{block "appbarLeft"}}}
    </div>
    <div class="app-bar_center">
        {{{block "appbarCenter"}}}
    </div>
    <div class="app-bar_right">
        {{{block "appbarRight"}}}
    </div>
</div>
