<div class="button-wrap">
    <a href="{{href}}"
       class="button{{#if className}}{{className}}{{/if}}"
        {{#if style}}
            style="{{style}}"
        {{/if}}
    >
        {{text}}
    </a>
</div>
