.button-wrap {
  display: flex;
  justify-content: center;
  padding: var(--space) 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  min-width: 200px;
  padding: 0 calc(2 * var(--space));
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  text-decoration: none;
  border-radius: var(--borderRadius);

  &:hover {
    background-color: var(--primaryColor100);
  }
  &:focus {
    background-color: var(--primaryColor200);
  }
}
