.card {
    padding: calc(4 * var(--space));
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    background-color: var(--whiteColor);
    font-weight: bold;

    &_header {
        text-align: center;
        font-size: var(--headFS);
    }

    &_body{
        padding-top: calc(2 * var(--space));
    }
}
