.chat-item{
  display: flex;
  height: var(--headerHeight);
  align-items: center;
  padding: 0 calc(4 * var(--space));
  flex-grow: 1;
  cursor: pointer;
  color: var(--primaryTextColor);
  text-decoration: none;

  &:hover{
    background-color: var(--secondaryColor);
  }

  &__active {
    background-color: var(--primaryColor);
    color: var(--whiteColor);

    &:hover{
      background-color: var(--primaryColor100);
    }

    .chat-item_info_count{
        background-color: var(--whiteColor);
        color: var(--primaryColor);
    }
  }

  .avatar {
    flex-shrink: 0;
  }

  &_text{
    flex-grow: 1;
    padding-left: calc(2 * var(--space));

    &_title{
      font-size: 18px;
      font-weight: bold;
    }
    &_msg{
      font-size: 10px;
    }
  }

  &_info{
    padding-left: calc(2 * var(--space));
    text-align: right;

    &_date{

    }

    &_count{
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      font-weight: bold;
      display: inline-block;
      margin-top: var(--space);
      padding: calc(0.5 * var(--space)) var(--space);
      border-radius: calc(2* var(--space));
    }
  }
}
