.chats{
  &_search{
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    padding: 0 calc(2 * var(--space));
  }

  &_add{
    width: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_icon{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondaryColor);
      color: var(--primaryColorDark);
      border-radius: var(--borderRadius);
      width: 24px;
      height: 24px;
      font-size: 14px;
      font-weight: bold;
    }
    &_text{
      padding-top: 4px;
      line-height: 10px;
      text-align: center;
      font-size: 10px;
      color: var(--primaryColorDark);
    }
  }

  &_list{
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }
}
