.upload-btn {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: var(--primaryColor);
  background-image: url("../../static/icons/upload.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 18px;

  &_input{
    display: none;
  }
  &__for-avatar{
    position: absolute;
    bottom: -14px;
    right: -14px;
  }
}
