:root {
    --whiteColor: #ffffff;
    --primaryColor: #35ACEE;
    --primaryColor100: #2c9fde;
    --primaryColor200: #228dc8;
    --primaryColorDark: #2085be;
    --secondaryColor: #E3F0F7;
    --secondaryColor100: #d7e4ec;
    --secondaryColor200: #c4d8e3;

    --gray: #F9F7F8;
    --gray100: #e9e9e9;
    --gray200: #e0e0e0;

    --primaryTextColor: #000000;
    --secondaryTextColor: #999999;

    --headerHeight: 90px;
    --widthAside: 400px;
    --space: 8px;
    --borderRadius: 16px;
    --headFS: 24px;
    --mainFS: 14px;

    --widthComponent: 400px;
    --heightComponent: 35px;

    --background: linear-gradient(244.93deg, #00A3FF -5.51%, #051721 100%);
    --backgroundLight: linear-gradient(244.93deg, #4db3ff -5.51%, #233753 100%);
    --boxShadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
