$space: 8px;
$heightElement: 35px;
$buttonHeight: 45px;
$buttonMinWidth: 250px;
$buttonSize: 45px;
$heightHeader: 90px;
$itemHeader: 90px;
$widthAside: 400px;
$widthCard: 600px;
$minMessageWidth: 250px;
$avatarSize: 60px;
$borderRadius: 4 * $space;
$fontSize: 16px;
$fontSizeTitle: 18px;
$fontSizeHeader: 20px;
$fontSizeSmall: 10px;
$fontColor: #1f1f1f;
$fontColorSecondary: #494949;
$fontColorTitle: #1f1f1f;
$contrastFontColor: #fff;
$contrastFontColorTitle: #fff;
$colorWhite: #fff;
$colorPrimary: #35acee;
$colorPrimary100: #2c9fde;
$colorPrimary200: #228dc8;
$colorPrimaryDark: #1570a6;
$colorPrimaryDark100: #0f5c8a;
$colorPrimaryDark200: #0d4a6e;
$colorSecondary: #e3f0f7;
$colorSecondary100: #d7e4ec;
$colorSecondary200: #c4d8e3;
$colorSecondaryDark: #c4d8e3;
$colorGray: #f9f7f8;
$colorGray100: #e9e9e9;
$colorGray200: #e0e0e0;
$colorGray300: #d9d9d9;
$colorDanger: #5d0000;
$colorDanger100: #4e0101;
$colorDanger200: #3c0000;
$colorDangerFill: #ffe9e9;
$boxShadow: rgb(0 0 0 / 20%) 0 2px 1px -1px,
  rgb(0 0 0 / 14%) 0 1px 1px 0,
  rgb(0 0 0 / 12%) 0 1px 3px 0;
$background: linear-gradient(244.93deg, #00a3ff -5.51%, #051721 100%);
