@import "./extend";

* {
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  @extend %flex-center;

  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  background-image: $background;
}

#root {
  flex: 1 1;
}

.app {
  display: flex;
}

.main {
  flex-grow: 1;
  color: $contrastFontColor;

  &__empty {
    @extend %flex-center;
  }
}

.hidden {
  display: none !important;
}

.center{
  text-align: center;
}
.left{
  text-align: left;
}