@import "./extend";

* {
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  @extend %flex-center;

  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.body {
  &__light {
    background-image: $backgroundLight;
  }

  &__dark {
    background-image: $backgroundDark;
  }
}

#root {
  flex: 1 1;
}

.app {
  display: flex;
}

.main {
  flex-grow: 1;
  color: $contrastFontColor;

  &__empty {
    @extend %flex-center;
  }
}

.hidden {
  display: none !important;
}

#nav {
  position: fixed;
  top: 0;
  width: 600px;
  text-align: center;
  left: calc(50% - 300px);
  z-index: 100;
  background-color: $colorSecondary200;
  padding: $space 2 * $space;
  border-radius: 0 0 2 * $space 2 * $space;
  box-shadow: $boxShadow;

  a {
    color: $colorPrimaryDark200;
    margin: 0 $space;

    &:hover {
      color: $colorPrimaryDark;
    }
  }
}
