{{#extend "html" styles='../css/pages/auth.scss'}}
    {{#content "body"}}
    <main>
        {{#extend "card" card}}
            {{#content "cardBody"}}
                <form>
                    {{#each fields}}
                        {{> inputGroup this}}
                    {{/each}}
                    <div class="form_submit">
                        {{> buttonLink submit}}
                    </div>
                </form>
                <div class="form_action">
                    {{> link cancel}}
                </div>
            {{/content}}
        {{/extend}}
    </main>
    {{/content}}
{{/extend}}
