@import '../../../../scss/extend';

.message-form {
  @extend %flex-center;
  background-color: $colorWhite;
  padding: 0 4 * $space;
  height: $heightHeader;

  &_send {
    margin-left: 4 * $space;
  }
}
